<%= stylesheet_link_tag "styling" %>
<div class="main-cont">
    <div class="sub-main-cont">
        <h1 class="main-head">Hrms application</h1>
        <div class="sub-cont">
            <%= button_to "Employee Login" , employeelogin_path, method: :get,:class=>"button-1 btn btn-dark"%>
            <%= button_to "HR Login", hrlogin_path, method: :get,:class=>"button-1 btn btn-dark"%>
        </div>
    <div>
</div>


 